:root{
    --primary-bg:#000000;
    --primary-text:#00e200;
    --secondary-text:#008f00;
    --button-hover:#00e200;
    --accentcolor:rgba(69, 240, 77, 0.637);
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    color:var(--primary-text);
    background-color: var(--primary-bg);
    color: var(--primary-text);
}
#container,.gamebuttons{
    display: flex;
    justify-content: center;
}
button{
    background-color:var(--accentcolor);
    margin-left: 10px;
    margin-top: 10px;
    border:none;
    border-radius: 20px;
}
button h1{
    color:white;
}
.redbut:hover{
    background-color: red;
}
button:hover{
    background-color:var(--button-hover);
}
#score{
    font-weight: bold;
    border:solid;
    border-radius: 20px;
    width:30%;
    text-align: center;
}
#userScore,#compScore{
    color:var(--accentcolor);
}

/* #title,#game,#score,#buttoncontainer{
    display:flex;
    justify-content: center; */
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:var(--accentcolor);
    color: black;
    text-align: right;
    border-radius: 5px;
    margin: 0;
}
#footer a{
    text-decoration: none;
    color:var(--secondary-text);
}
#footer a:hover{
    text-decoration: underline;
}
