*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    color: #ffffff;
    background-color: #277FF2;
}
button{
    background-color:transparent;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30px;
}
button:hover{
    background-color: white;
    color:black;
}
#score,#rounds{
    font-weight: bold;
}
#userScore,#compScore{
    color:#F26938;
}

#title,#game,#score,#buttoncontainer,#rounds{
    display:flex;
    justify-content: center;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: right;
    border-radius: 5px;
}
footer a{
    text-decoration: none;
    color:#277FF2;
}
footer a:hover{
    text-decoration: underline;
}